*
{
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

hr
{
	margin: 5px auto;
}

#accord
{
	
}

.block-question
{
	position: absolute;
	margin: 2em;
	width: 95%;
}

.second-block
{
	margin: 25em 2em;
}

.block-question__headlines
{
}

.block-question__lists
{
	list-style: none;
}

.block-question__lists li
{
	background-color: #F1E4E4;
	margin: 5px auto;
}

.active:hover
{
	background-color: #EA9F9F !important;
	color: green;
	cursor: pointer;
}

.block-question__lists div
{
	padding: 1em;
	border: 1px solid;
}