*
{
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

hr
{
	margin: 5px auto;
}

a
{
	color: #000;
}

body
{
	background-color: #E8E8E8;
}

.block-question
{
	position: absolute;
	margin: 2em;
	width: 95%;
}

.second-block
{
	margin: 25em 2em;
}

.block-question__headlines
{
}

.block-question__lists
{
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	list-style: none;
}

.block-question__lists li
{
	background-color: #4C8FFD;
	border-radius: 3px;
	margin: 5px auto;
	padding: 5px;
}

.block-question__lists li:hover
{
	background-color: #3079ED !important;
	cursor: pointer;
}

.block-question__lists div
{
	background-color: #DC4A38;
	border-radius: 3px;
	padding: 1em;
}